<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" onclick="return false;">What is the STEM Challenge?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>The STEM Challenge is a fun way for students to showcase their STEM skills! The Challenge is organized as a team-based competition with two levels: Beginner and Advanced. Each team will rotate through a series of challenges and have a chance to demonstrate skills such as: problem solving, critical thinking, creative engineering, and more.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" onclick="return false;">When is the STEM Challenge?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <p>
          <strong>Date:</strong>  Saturday, April 9, 2016<br />
          <strong>Time:</strong>  8:00 AM - 2:00 PM<br />
          <strong>Location:</strong>  UHCL<br />
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" onclick="return false;">Who Can Participate?</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <p>The STEM Challenge is open to all High-School Students, Community College Students, and Undergraduate University Students. All we ask is that you register for the STEM Challenge if you plan on participating. Also, each team must have a Faculty Sponsor from their School or University.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" onclick="return false;">Do team members need to be from the same school?</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Nope! Your team can be composed of students from any school or university. Though, we would recommend keeping the grade levels of students within a team as close to each other as possible.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" onclick="return false;">What if I don't have a team?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Don't have a team? Don't worry! Just email us at bsc@uhcl.edu and we will get you set up.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" onclick="return false;">What is Involved?</a>
      </h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body">

        <p>Participants will go through a series of fun challenges designed to demonstrate their STEM skills, including programming, problem solving, and more!</p>

        <p>More Information on the Challenges themselves will be announced soon.</p>

      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" onclick="return false;">What is a "Faculty Sponsor" and why do we need one?</a>
      </h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Your Faculty Sponsor is just any faculty member from your school who can vouch for your team. If you need a faculty sponsor, try contacting the following people:</p>
        <p>UHCL: Sharon Hall or Krishani Abeysekera</p>
        <p>San Jac North: Nathaniel Wiggins</p>
        <p>San Jac South: Jim Meeks</p>
        <p>San Jac Central: Norm Liebling</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" onclick="return false;">How do I know if my team is Beginner-level or Advanced?</a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body">
        <p>This year's STEM Challenge will have two levels: Beginner and Advanced. Beginner teams will be limited to College Sophomore-level and under, and the Advanced division will be for those teams at the College Junior- or Senior-level.</p>
        <p>If, however, you are a team composed of students at the High School, College Freshman, or Sophomore level, you can still compete at the Advanced level if you would like.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" onclick="return false;">How many people can be on a team?</a>
      </h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Teams will be limited to 4 team members.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" onclick="return false;">Do I need to bring anything?</a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Nope! Everything your team needs will be provided on the day of the Challenge.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" onclick="return false;">I don't know how to program. Can I still participate?</a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Absolutely! Everyone is welcome to participate, regardless of previous experience!</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" onclick="return false;">I'm terrible at Math. Can I still participate?</a>
      </h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body">
        <p>It is not necessary for participants to have expertise in any particular STEM field. While the challenges are taken from and inspired by STEM subjects, they are designed in a way that will allow anyone to participate, and succeed!</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13" onclick="return false;">How are the Prizes awarded?</a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse">
      <div class="panel-body">

        <p>More information on prizes will be posted soon, so check back!</p>

      </div>
    </div>
  </div>
</div>
