<div class="jumbotron">
  <img src="images/logo_small.png" alt="STEM Challenge 2016"><br />
  <img src="images/stemchallenge2016.png" id="challenge-text-logo" alt="STEM Challenge 2016"><br />
  <p class="lead">Sorry, registration for this year's Challenge is closed.</p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About the Challenge</h3>
  </div>
  <div class="panel-body">
    <p>Come join us at UHCL on <strong>April 9, 2016</strong> for an opportunity for you and your team to showcase your Science, Technology, Engineering, and Mathematics skills.</p>
    <p>
      <strong>Date:</strong>  Saturday, April 9, 2016<br />
      <strong>Time:</strong>  8:00 AM - 2:00 PM<br />
      <strong>Location:</strong>  UHCL<br />
    </p>
    <p>The STEM Challenge is open to all High-School Students, Community College Students, and Undergraduate University Students. You do not need to have a background in any STEM field, or any previous programming or robotics experience in order to participate!</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Challenge Sponsors</h3>
  </div>
  <div class="panel-body center">
    <p>The 2016 STEM Challenge is sponsored by:<p>
      <a href="http://www.flowcal.com"><img class="sponsor-img-big center-block" src="images/flowcal.jpg" /></a><br />
      <a href="http://www.esyntaxis.com"><img class="sponsor-img center-block" src="images/esyntaxis.jpg" /></a><br />
      <a href="http://www.atlinkcom.com"><img class="sponsor-img center-block" src="images/atlink.jpg" /></a><br />

    <p>Food provided by:<p>
      <a href="http://www.freebirds.com"><img class="food-img center-block" src="images/freebirds.jpg" /></a><br />
      <a href="http://www.panerabread.com"><img class="food-img center-block" src="images/panera.jpg" /></a><br />

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">STEM Challenge 2015</h3>
  </div>
  <div class="panel-body">

    <p>The Bridges to STEM Careers (BSC) program, with funding from the National Science Foundation, hosted its annual STEM Challenge on April 11th, 2015 in the Student Services Building at UHCL. 18 teams made up of 62 members participated in the competition at two levels. Winners and participants won prizes including scholarships, internships, robotics kits and various other gifts.</p>

    <div align="center" class="embed-responsive embed-responsive-16by9">
      <video controls class="embed-responsive-item">
        <source src="http://bsc.uhcl.edu/assets/videos/challenge2015Post.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    </div>

    <br />

    <p>STEM Challenge 2015 was sponsored by Credexo Inc., Esyntaxis and AtLink. Breakfast was generously donated by Panera Bread. Additional support was provided by various other companies and restaurants in the community. Community college, High school and UHCL faculty members participated actively and served as judges, mentors and in various other capacities. Industrial representatives from Credexco, AtLink and SAIC also served as judges.</p>

    <div class="my-container">
    <slick infinite="true" slides-to-show="1" slides-to-scroll="1">
      <div><img src = "images/stem2015/00.jpg" /></div>
      <div><img src = "images/stem2015/01.jpg" /></div>
      <div><img src = "images/stem2015/02.jpg" /></div>
      <div><img src = "images/stem2015/03.jpg" /></div>
      <div><img src = "images/stem2015/04.jpg" /></div>
      <div><img src = "images/stem2015/05.jpg" /></div>
      <div><img src = "images/stem2015/06.jpg" /></div>
      <div><img src = "images/stem2015/07.jpg" /></div>
      <div><img src = "images/stem2015/08.jpg" /></div>
      <div><img src = "images/stem2015/09.jpg" /></div>
      <div><img src = "images/stem2015/10.jpg" /></div>
      <div><img src = "images/stem2015/11.jpg" /></div>
      <div><img src = "images/stem2015/12.jpg" /></div>
      <div><img src = "images/stem2015/13.jpg" /></div>
      <div><img src = "images/stem2015/14.jpg" /></div>
      <div><img src = "images/stem2015/15.jpg" /></div>
      <div><img src = "images/stem2015/16.jpg" /></div>
      <div><img src = "images/stem2015/17.jpg" /></div>
      <div><img src = "images/stem2015/18.jpg" /></div>
    </slick>
  </div>

    <p>The challenge was open to all high school and undergraduate students. Over 8 different high schools and 6 different community colleges and universities were represented in the challenge. The challenge consisted of two levels of competition, with each team rotating through three stations: Game of Clues to challenge their math knowledge, Creative Inventors to showcase their imaginative skills and Robot Adventure to test their problem solving and programming skills. The event was limited to 18 teams, with a maximum of 4 members per team. 12 beginner teams and 6 advanced teams participated in the event.</p>


    <p>You can also check out the <a href="http://bsc.uhcl.edu/index.php?id=20">full site</a> for last year's Challenge!</p>

  </div>
</div>
