<div class="jumbotron">
  <img src="images/logo_small.png" alt="STEM Challenge 2016"><br />
  <img src="images/stemchallenge2016.png" id="challenge-text-logo" alt="STEM Challenge 2016"><br />
  <p class="lead">
    Register your team now!
  </p>
  <p><a class="btn btn-lg btn-success" ui-sref="register.one">Register <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">About the Challenge:</h3>
  </div>
  <div class="panel-body">
    <p>Come join us at UHCL on <strong>April 9, 2016</strong> for an opportunity for you and your team to showcase your Science, Technology, Engineering, and Mathematics skills.</p>
    <p>
      <strong>Date:</strong>  Saturday, April 9, 2016<br />
      <strong>Time:</strong>  8:00 AM - 2:00 PM<br />
      <strong>Location:</strong>  UHCL<br />
    </p>
    <p>The STEM Challenge is open to all High-School Students, Community College Students, and Undergraduate University Students. You do not need to have a background in any STEM field, or any previous programming or robotics experience in order to participate!</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">There will be three stations:</h3>
  </div>
  <div class="panel-body">
      <div id="math"><strong>Game of Clues</strong><br />(Mathematics)</div>
      <div id="problem-solving"><strong>Creative Inventor</strong><br />(Problem Solving)</div>
      <div id="robotics"><strong>Robot Adventure</strong><br />(Coding/Robotics)</div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How the Challenge works:</h3>
  </div>
  <div class="panel-body">
    <p>Each team will rotate through all three stations, where they will undertake a series of challenges. After every team has rotated through each station, overall prizes will be awarded to the 1st and 2nd place teams in both the Beginner and Advanced categories. There will also be a winning team for each individual station! (1st and 2nd place overall winners will not be eligible for station prizes.) </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">This year's prizes include:</h3>
  </div>
  <div class="panel-body">

      <ul>
      <li>Internships</li>
      <p>The top team from each division will win an opportunity to interview for an internship.</p>
      <li>Scholarships</li>
      <p>The 1st and 2nd place teams from each division will win Scholarships to UHCL!</p>
      <li>Robotics Kits</li>
      <li>Quadcopters</li>
      <li>Restaurant Gift Cards</li>

      <p>...and many more!</p>

  </div>
</div>
