<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Challenge Sponsors</h3>
  </div>
  <div class="panel-body center">
    <p>The 2016 STEM Challenge is sponsored by:<p>
      <a href="http://www.flowcal.com"><img class="sponsor-img-big center-block" src="images/flowcal.jpg" /></a><br />
      <a href="http://www.esyntaxis.com"><img class="sponsor-img center-block" src="images/esyntaxis.jpg" /></a><br />
      <a href="http://www.atlinkcom.com"><img class="sponsor-img center-block" src="images/atlink.jpg" /></a><br />

    <p>Food provided by:<p>
      <a href="http://www.freebirds.com"><img class="food-img center-block" src="images/freebirds.jpg" /></a><br />
      <a href="http://www.panerabread.com"><img class="food-img center-block" src="images/panera.jpg" /></a><br />

  </div>
</div>
